{% extends 'base.html.twig' %}

{% block title %}Candidats index{% endblock %}

{% block body %}
    <h1>Candidats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fist_name</th>
                <th>Last_name</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.firstName }}</td>
                <td>{{ candidat.lastName }}</td>
                <td>{{ candidat.gender }}</td>
                <td>{{ candidat.birthday ? candidat.birthday|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('candidats_show', {'id': candidat.id}) }}">show</a>
                    <a href="{{ path('candidats_edit', {'id': candidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidats_new') }}">Create new</a>
{% endblock %}
