{% extends 'base.html.twig' %}

{% block title %}Candidats{% endblock %}

{% block body %}
    <h1>Candidats</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>Fist_name</th>
                <td>{{ candidat.fistName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ candidat.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ candidat.gender }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ candidat.birthday ? candidat.birthday|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidats') }}">back to list</a>

    <a href="{{ path('candidats_edit', {'id': candidat.id}) }}">edit</a>

    {{ include('candidats/_delete_form.html.twig') }}
{% endblock %}
