{{ form_start(form) }}


<form>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group col-md-12">
                <div style="border-radius: 0px !important; " class="avatar-upload">
                    <div style="border-radius: 0px !important; right: 4px !important; top: -14px !important;"
                         class="avatar-edit">

                        {{ form_widget(form.photo) }}
                        <label for="event_photo">
                            <svg  style="width: 100%; height: 100%;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            </svg>
                        </label>
                    </div>
                    <div style="border-radius: 0px !important;" class="avatar-preview">
                        <div style="border-radius: 0px !important;" id="imagePreview">
                            <img style="width: 192px;height: 182px;position: relative;border-radius: 0%;" id="output"
                                 class="img-fluid" src="/images/event.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="label-form">Nom de l'evenement</label>
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-group col-md-6">
                    <label class="label-form">Date du debut</label>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker5'>
                            {{ form_widget(form.date_start) }}
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="label-form">Duree</label>
                    <div class="row">
                        <div class="col-10">{{ form_widget(form.duration) }}</div>
                        <div class="col-2" style="margin-top: 10px"> Jour(s)</div>
                    </div>

                </div>

                <div class="form-group col-md-12">
                    <label class="label-form">Description</label>
                    {{ form_widget(form.description) }}
                </div>

                {{ form_widget(form._token) }}
                <div style="margin-left: 83.33333333%;" class="form-group col-md-2 ">
                    <button class="btn btn-primary col-12">
                        <strong>{{ button_label|default('Enregistrer') }}</strong>
                    </button>
                </div>

            </div>
        </div>

    </div>
</form>


{{ form_end(form) }}
