<div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
    <div class="app-header white bg b-b">
        <div class="navbar" data-pjax>
            <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0"><i
                        class="ion-navicon"></i></a>
            <div class="navbar-item pull-left h5" id="pageTitle">
                Electeurs
            </div>
        </div>
    </div>
    <div class="app-body">
        <!-- ############ PAGE START-->
        <div class="row-col">
            <div class="col-lg b-r">
                <div class="padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box" style="border-top: #2196f3  solid;">
                                <div class="box-header">
                                    <strong>liste des evenements</strong>
                                    <a class="label primary pull-right" href="{{ path('event_new') }}">Ajouter
                                        nouveau</a>
                                    <!--modals-->
                                </div>
                                <table class="table table-striped table-bordered" id="example" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Nom de l'evenement
                                        </th>
                                        <th>
                                            date du debut
                                        </th>
                                        <th>
                                            date du fin
                                        </th>
                                        <th>
                                            durée (Jours)
                                        </th>
                                        <th class="pull-right">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for event in events %}
                                        <tr>
                                            <td>
                                                <img style="width: 50px" src="/uploads/{{ event.photo }}" alt="">
                                            </td>
                                            <td>
                                                {{ event.title }}
                                            </td>
                                            <td>
                                                {{ event.dateStart ? event.dateStart|date('Y-m-d') : '' }}
                                            </td>
                                            <td>
                                                {{ event.dateEnd ? event.dateEnd|date('Y-m-d') : '' }}
                                            </td>
                                            <td>
                                                {{ event.duration }}
                                            </td>
                                            <td class="pull-right">
                                                {% if event.status == 0 %}

                                                    {{ include('admins/event/updateInIndex/_start_form.html.twig') }}

                                                    {{ include('admins/event/updateInIndex/_delete_form.html.twig') }}

                                                {% elseif event.status == 1 %}

                                                    {{ include('admins/event/updateInIndex/_stop_form.html.twig') }}

                                                    {{ include('admins/event/updateInIndex/_pause_form.html.twig') }}

                                                {% elseif event.status == 2 %}

                                                    {{ include('admins/event/updateInIndex/_delete_form.html.twig') }}

                                                {% endif %}

                                                <a class="label danger "
                                                   href="{{ path('event_show', {'id': event.id}) }}">Montrer</a>
                                                {% if event.status == 0 %}
                                                    <a class="label success "
                                                       href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                                                {% endif %}

                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">
                                                no records found
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ############ PAGE END-->
    </div>

    <script src="{{ asset('assets/sweetAlert2/sweetalert2.all.min.js') }}"></script>
    <script>
        let error = {{ error }}
        if (error == 1) {
            Swal.fire({
                icon: 'success',
                title: "{{ title }}",
                text: "{{ text }}",
                footer: "{{ footer }}",
            })

        }


        $('.update').click(function (e) {
            debugger;
            e.preventDefault();
            Swal.fire({
                title: 'Stop Contributor',
                showCancelButton: true,
                html: 'This action will stop the activity of this contributor. Would you like to continue?',
            }).then((result) => {
                if (result.value) {
                    $('#update').submit();
                }
            })
        })


    </script>
</div>
