<div
	class="app-body">
	<!-- ############ PAGE START-->
	<div class="row-col">
		<div class="col-lg b-r">
			<div class="padding">
				<div class="row">
					<div class="col-sm-12">
						<div class="box" style="border-top: #2196f3  solid;">
							<div class="box-header">
								<strong>liste des evenements</strong>
								<a class="label primary pull-right" href="{{ path('event_new') }}">Ajouter
																																																																																	                                        nouveau</a>
								<!--modals-->
							</div>
							<div class="card">
								<div class="card-body" >
									<div class="row">
										<h5 class="card-title col-2" style="width:20%">Filtre</h5>
										<div class="col-2 Evenement">
											<h5 for="Evenement">Evenement</h5>
										</div>
										<div class="col-2 Status">
											<h5 for="Status">Status</h5>
										</div>
										<div class="col-6">
											<h5>Periode</h5>
											<label for="begin">Start :</label>
											<input type="date" id="begin"/>
											<label for="end">Fin :</label>
											<input type="date" id="end"/>
										</div>
									</div>
								</div>
							</div>
							<table class="table dt-responsive dataTable no-footer dtr-inline" id="example1" style="width: 100%">
								<thead>
									<tr>
										<th></th>
										<th>
											Nom de l'evenement
										</th>
										<th>
											Status
										</th>
										<th>
											Date du debut
										</th>
										<th>
											Date du fin
										</th>
										<th>
											durée (Jours)
										</th>
										<th class="pull-right">
											Actions
										</th>
									</tr>
									<tr>
										<th></th>
										<th class="filterhead" id="Evenement"></th>
										<th class="filterhead" id="Status"></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for event in events %}
										<tr>
											<td>
												<img style="width: 50px" class="rounded-circle" src="/uploads/{{ event.photo }}" alt="">
											</td>
											<td>
												{{ event.title }}
											</td>
											<td>
												{% if event.status == 0 %}
													Attente
												{% elseif event.status == 1 %}
													En cours
												{% elseif event.status == 2 %}
													Terminer
												{% endif %}
											</td>
											<td>
												{{ event.dateStart ? event.dateStart|date('Y-m-d') : '' }}
											</td>
											<td>
												{{ event.dateEnd ? event.dateEnd|date('Y-m-d') : '' }}
											</td>
											<td>
												{{ event.duration }}
											</td>

											<td>
												<span class="pull-right">
													{% if event.status == 0 %}

														{{ include('admins/event/updateInIndex/_start_form.html.twig') }}

														{{ include('admins/event/updateInIndex/_delete_form.html.twig') }}

													{% elseif event.status == 1 %}

														{{ include('admins/event/updateInIndex/_stop_form.html.twig') }}

														{{ include('admins/event/updateInIndex/_pause_form.html.twig') }}

													{% elseif event.status == 2 %}

														{{ include('admins/event/updateInIndex/_delete_form.html.twig') }}

													{% endif %}

													<a class="label danger " href="{{ path('event_show', {'id': event.id}) }}">Montrer</a>
													{% if event.status == 0 %}
														<a class="label success " href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
													{% endif %}
												</span>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="8">
												no records found
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ############ PAGE END-->


	<script src="{{ asset('assets/sweetAlert2/sweetalert2.all.min.js') }}"></script>
	<script>
		let error = {{ error }}
if (error == 1) {
Swal.fire({icon: 'success', title: "{{ title }}", text: "{{ text }}", footer: "{{ footer }}"})

}
 $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {
                var min = $('#begin').val();
                var max =  $('#end').val();
                var date1 = data[3]  || 0; 
                var date2 =  data[4]  || 0;
                if (  (min=="" && max=="" )||
                     ( new Date(date2).getTime() <= new Date(max).getTime() && new Date(date1).getTime() >= new Date(min).getTime())||
                     ( max==""  && (new Date(date1).getTime() >= new Date(min).getTime()) )||
                     ( min==""  && (new Date(date2).getTime() <= new Date(max).getTime()) ))
                {
                    return true;
                }
                return false;
                }
            );

function fire() {
Swal.fire({title: 'Stop Contributor', showCancelButton: true, html: 'This action will stop the activity of this contributor. Would you like to continue?'}).then((result) => {
if (result.value) {
$('#update').submit();
}
})
}
	</script>
</div>
