<div style="padding-left: 30px ; padding-right: 30px " class="row">

    <h2 class="title-vote">choisir votre candidat </h2>


    <form action="{{ path('voter',{'id':event}) }}" method="POST" style="width: 100%">
        <div class="row">
            {% for candidat in candidats %}
                <div class="col-3 col-md-2">

                    <label>
                        <input class="card-input-element" type="radio" name="choice" id="{{ candidat.id }}" value="{{ candidat.id }}"/>

                        <div class="panel panel-default card-input">
                            <div class="panel-heading"> <img style="height: 200px" id="" src="/uploads/{{ candidat.photo }}" class="card-img-top" alt="..."></div>
                            <div class="panel-body">
                                {{ candidat.firstname }}
                                {{ candidat.lastname }}
                            </div>
                        </div>

                    </label>

                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-5"></div>
        <div class="col-2">
            <button type="submit" class=" col-12 btn btn-primary btn-votes">Voter</button>
        </div>
        </div>
    </form>
<script>

</script>
</div>

