<div style="padding-left: 30px ; padding-right: 30px " class="row">
    {% if eventVoted == 0 %}
    <h2 class="title-vote">{{title }} : choisir votre candidat </h2>


    <form action="{{ path('voter',{'id':eventId}) }}" method="POST" style="width: 100%">
        <div class="row">
            {% for candidat in candidats %}

                <div class="col-3 col-md-2">

                    <label>
                        <input class="card-input-element" type="radio" name="choice" id="{{ candidat.id }}" value="{{ candidat.id }}"/>

                        <div class="panel panel-default card-input">
                            <div class="panel-heading"> <img style="height: 200px" id="" src="/uploads/{{ candidat.photo }}" class=" card-card-img-top" alt="..."></div>
                            <div class="panel-body">
                                {{ candidat.firstname }}
                                {{ candidat.lastname }}
                            </div>
                        </div>

                    </label>

                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-5"></div>
        <div class="col-2">
            <button type="submit" class=" col-12 btn btn-primary btn-votes">Voter</button>
        </div>
        </div>
    </form>

    {% elseif eventVoted == 1 %}

        <h2 class="title-vote">{{event.title }} </h2>

    <div class="col-12">
    <div class="row d-flex justify-content-center">

           <p style="    font-size: 50px;color: red; font-weight: 500;">Vous avez deja voté  </p>

    </div>

    </div>

        <div class="col-12">
    <div class="row d-flex justify-content-center">


        <p style="font-size: 15px; font-weight: 500;">le resultat sera affiché le    {{ event.dateEnd ? event.dateEnd|date('d-m-Y') : '' }}</p>


    </div>

    </div>
    {% endif %}
<script>

</script>
</div>

