
<div class="row">

    <div class="container">
        <h2 class="title-vote">{{ candidat.firstName }} {{ candidat.lastName }}</h2>
        <div class="row">
            <div style="box-shadow: 0 0 17px rgba(120,130,140, 0.35); padding: 0px;" class=" col-3">
                <img style="position: relative;border-radius: 0%;height: 399px;"
                     id="output"
                     class="img-fluid" src="/uploads/{{ candidat.photo }}" alt="">

            </div>

            <div class="box col-8" style="box-shadow: 0 0 17px rgba(120,130,140, 0.35);    margin-left: 1%;">

                <div style="    margin-top: 37px;" class="row">
                    <table class="col-12 table">

                        <tbody>
                        <tr>
                            <th>Nom et prenom</th>
                            <td>{{ candidat.firstName }} {{ candidat.lastName }}</td>
                        </tr>
                        <tr>
                            <th>Date du naissance</th>
                            <td>{{ candidat.dateOfBirth ? candidat.dateOfBirth|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>email</th>
                            <td>{{ candidat.email }}</td>
                        </tr>
                        <tr>
                            <th>Telephone</th>
                            <td>{{ candidat.phone }}</td>

                        </tr>

                        <tr>
                            <th>Sexe</th>
                            <td>{% if candidat.gender == 0 %} Homme {% else %} Femme {% endif %}</td>
                        </tr>

                        <tr>
                            <th>Evenement</th>
                            <td>{{ candidat.event }} </td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ candidat.description }}</td>
                        </tr>


                        </tbody>
                    </table>


                </div>


            </div>
        </div>



    </div>
</div>


