

<div style="padding-left: 30px ; padding-right: 30px " class="row">

    <h2 class="title-vote">Liste des Evenements (voter)</h2>


    <div class="row"  style="width: 100%">
        {% for event in events %}
            {% if event.status == 1 %}
                <div style="margin-left:1%;padding: 0px;box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);"class="card mb-3 col-2">

                    <img class="card-img-top" src="/uploads/{{ event.photo }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"style="font-size: 17px; text-transform: uppercase; font-weight: 700;   margin-bottom: 0.35rem;">
                            {{ event.title }}
                        </h5>

                        <p class="card-text">
                            {{ event.dateStart ? event.dateStart|date('d/m/Y') : '' }} - {{ event.dateEnd ? event.dateEnd|date('d/m/Y') : '' }}
                        </p>



                        <a class="  pull-left label success  " href="{{ path('eventUser_show', {'id': event.id}) }}">Voir
                            plus</a>
                        <a class=" pull-right label danger " href="{{ path('eventUser_vote', {'id': event.id}) }}">Voter</a>

                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>


    <script>

    </script>
</div>



