<div class="text-center">
    <h5 style="font-size:45px">{{title}}</h5>
    <small>Veillez cocher le candidat volus</small>
</div>
<form action="{{ path('voter',{'id':event}) }}" method="POST">
<div style="display:flex">
	{% for candidat in candidats %}
		<div class="card" style="width: 18rem;">
			<img src="/uploads/{{ candidat.photo }}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{ candidat.firstname }}
					{{candidat.lastname}}</h5>
				<p class="card-text">{{ candidat.description }}</p>
                <label for="{{ candidat.id }}">Voter</label>
				<input type="radio" name="choice" id="{{ candidat.id }}" value="{{ candidat.id }}"/>
			</div>
		</div>
	{% endfor %}
</div>
<div>
    <button type="submit" class="btn btn-primary">Voter</button>
</div>
<form>

