

<div style="padding-left: 30px ; padding-right: 30px " class="row">

    <h2 class="title-vote">Liste des Evenements en cours</h2>


    <div class="row"  style="width: 100%">
        {% for event in events %}
            {% if event.status == 1 %}
                <div style="margin-left:1%;padding: 0px;box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);"class="card mb-3 col-2">
                    <div style="position: absolute" class="corner-ribbon top-right sticky {% if event.status == 0 %} blue {% elseif event.status == 1 %}  green {% elseif event.status == 2 %} red {% endif %} shadow">
                        {% if event.status == 0 %}En attente{% elseif event.status == 1 %} En cours {% elseif event.status == 2 %} Terminé {% endif %}
                    </div>
                    <img class="card-img-top" src="/uploads/{{ event.photo }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"style="font-size: 17px; text-transform: uppercase; font-weight: 700;   margin-bottom: 0.35rem;">
                            {{ event.title }}
                        </h5>

                        <p class="card-text">
                            {{ event.dateStart ? event.dateStart|date('d/m/Y') : '' }} - {{ event.dateEnd ? event.dateEnd|date('d/m/Y') : '' }}
                        </p>



                        <a class="  pull-left label success  " href="{{ path('eventUser_show', {'id': event.id}) }}">Voir
                            plus</a>
                        {% if event.status == 1 %}
                            <a class=" pull-right label danger " href="{{ path('eventUser_vote', {'id': event.id}) }}">Voter</a>
                        {% elseif  event.status == 2 %}
                            <a class=" pull-right label primary "
                               href="{{ path('eventUser_result', {'id': event.id}) }}">Resultat</a>
                        {% endif %}

                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>


    <script>

    </script>
</div>



