

{{ form_start(form) }}


<div class="avatar-upload">
    <div class="avatar-edit">

        {{ form_widget(form.photo) }}
        <label for="candidats_photo"></label>
    </div>
    <div class="avatar-preview">
        <div id="imagePreview">
            <img style="width: 192px;height: 182px;position: relative;border-radius: 100%;" id="output"
                 class="img-fluid" src="/images/profile.jpg" alt="">
        </div>
    </div>

</div>

<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="label-form" >C.I.N</label>
            {{ form_widget(form.cin) }}
        </div>
        <div class="form-group col-md-4">
            <label class="label-form" >Nom</label>
            {{ form_widget(form.first_name) }}
        </div>
        <div class="form-group col-md-4">
            <label class="label-form" >Prenom</label>
            {{ form_widget(form.last_name) }}
        </div>
        <div class="form-group col-md-4">
            <label class="label-form" >date du naissance</label>
            {{ form_widget(form.date_of_birth) }}
        </div>
        <div class="form-group col-md-4">
            <label class="label-form" >Email</label>
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group col-md-4">
            <label class="label-form" >Sexe</label>
            {{ form_widget(form.gender) }}
        </div>
        <div class="form-group col-md-4">
            <label class="label-form" >Telephone</label>
            {{ form_widget(form.phone) }}
        </div>
        <div class="form-group col-md-4">
            <label class="label-form" >Evenement</label>
            {{ form_widget(form.event) }}
        </div>

        <div class="form-group col-md-12">
            <label class="label-form" >Description</label>
            {{ form_widget(form.description) }}
        </div>



        {{ form_widget(form._token) }}
        <div style="margin-left: 83.33333333%;" class="form-group col-md-2 ">
            <button  class="btn btn-primary col-12">
                <strong>{{ button_label|default('Enregistrer') }}</strong></button>
        </div>

    </div>




</form>


{{ form_end(form) }}

