
    <div class="app-body">

        <!-- ############ PAGE START-->
        <div class="row-col">
            <div class="col-lg b-r">

                <div class="padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box" style="  border-top: #2196f3 solid;">
                                <div class="box-header">

                                    <strong>Liste des candidats</strong> <a class="label primary pull-right"
                                                                            href="{{ path('candidats_new') }}">Ajouter nouveau</a>
                                    <!--modals-->

                                </div>
                                <div class="row" style="align-items: center;margin-left: 15px;">
                                    <label for="events" style="margin-right:10px">Filtre avec Evénement :</label>
                                    <select class="form-control col-4" id="events" name="events">
                                        <option value="0"></option>
                                        {% for event in events %}
                                            <option value='{{ event.id }}'>{{ event.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <table style="  width: 100% !important;" class="table  table-striped table-bordered" id="example" >
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>CIN
                                            <svg style="font-size: 15px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                                                <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                                <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                        </th>
                                        <th style="min-width: 123px;">Nom et Prenom
                                            <svg style="font-size: 15px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                                                <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                                <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                        </th>
                                        <th style="min-width: 139px;">Date du naissance
                                            <svg style="font-size: 15px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                                                <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                                <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                        </th>
                                        <th>Email
                                            <svg style="font-size: 15px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                                                <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                                <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                        </th>
                                        <th>phone
                                            <svg style="font-size: 15px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                                                <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                                <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                        </th>
                                        <th>Sexe
                                            <svg style="font-size: 15px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                                                <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                                <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                        </th>


                                        <th class="pull-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for candidat in candidats %}
                                        <tr>

                                            <td><img style="width: 50px" src="/uploads/{{ candidat.photo }}" alt=""></td>
                                            <td>{{ candidat.cin }} </td>
                                            <td>{{ candidat.firstName }} {{ candidat.lastName }}</td>
                                            <td>{{ candidat.dateOfBirth ? candidat.dateOfBirth|date('Y-m-d') : '' }}</td>
                                            <td>{{ candidat.email }} </td>
                                            <td>{{ candidat.phone }} </td>
                                            <td>{% if candidat.gender == 0 %} Homme {% else %} Femme {% endif %} </td>

                                            <td class="pull-right">
                                                <a class="label danger "
                                                   href="{{ path('candidats_show', {'id': candidat.id}) }}">Montrer</a>
                                                <a class="label success "
                                                   href="{{ path('candidats_edit', {'id': candidat.id}) }}">Modifier</a>

                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <!-- ############ PAGE END-->

</div>
<script>
var url ="{{ path('filterByEvent1', {'id': 'event'}) }}";
</script>