

	<div
		class="app-body">

		<!-- ############ PAGE START-->
		<div class="row-col">
			<div class="col-lg b-r">

				<div class="padding">
					<div class="row">
						<div class="col-sm-12">

							<figure class="tabBlock">
								<ul class="tabBlock-tabs">
									<li class="tabBlock-tab candidat is-active">Import candidats (fichier csv)</li>
									<li class="tabBlock-tab candidat ">Ajouter nouveau candidat (Formulaire)</li>
								</ul>
								<div class="tabBlock-content">
									<div class="tabBlock-pane">
										{{ form_start(form1) }}
										<form action="" id="myForm" method="POST" class="col-md-12" enctype="multipart/form-data" novalidate>

											<div class="row ">

												<div style="text-align: center;" class="col-5">
													<label class="label-form">
														<i class="mdi mdi-numeric-1-box m-r-5"></i>
														Téléchargez et remplissez le fichier
														                                                        :<a href="{{ absolute_url(asset('assets/electors.csv')) }}" class=" m-2">
															<img style="width: 150px;" class="img-fluid" src="{{ asset('images/csv-candidat.png') }}" alt=""/>
														</a>
													</label>
												</div>
												<hr style="  border-left: 2px dashed #2196f3;height: 120px;">
												<div style="text-align: center;" class="col-5">
													<label class="label-form">
														<i class="mdi mdi-numeric-2-box"></i>
														Importer les candidats</label>

													<div class="card-body m-r-0 m-l-0">
														<div class="fileUpload blue-btn candidat btn width100">
															<span>
																<strong>Choisir un fichier (*.csv)</strong>
															</span>
															{{ form_widget(form1.input) }}
														</div>

													</div>

												</div>
											</div>
											<div class="row">
												<div class="col-12 m-b-30">
													<div class="form-group ">
														<label class="label-form">
															<i class="mdi mdi-numeric-3-box"></i>
															Sélectionnez un evenement pour ces candidats
															                                                            :</label>
														<div class='input-group mb-3'>
															<div class="input-group-append">
																<span class="input-group-text">
																	<span class="mdi mdi-web"></span>
																</span>
															</div>
															{{ form_widget(form1.event) }}
														</div>
													</div>
												</div>
											</div>
											{{ form_widget(form1._token) }}
											<div class="form-actions">
												<button style="margin-left: 83.33333333%;" type="submit" name="upload" class="col-2 btn btn-primary waves-effect waves-light m-r-10">
													<i class="fa fa-check"></i>
													Enregistrer
												</button>

											</div>
										</form>
										{{ form_end(form1) }}
									</div>
									<div class="tabBlock-pane">
										<ul>
											<div id="form" role="tabpanel">{{ include('admins/candidats/_form.html.twig') }}</div>
										</ul>
									</div>
								</div>
							</figure>

						</div>
					</div>

				</div>

			</div>
		</div>

	</div>

	<script src="{{ asset('assets/sweetAlert2/sweetalert2.all.min.js') }}"></script>
	<script>
		let error = {{ error }}
if (error == 1) {
Swal.fire({icon: 'error', title: 'Oops...', text: 'Candidat deja existe!', footer: 'S il vous plais verifier votre Candidats'})
}
	</script>
	<!-- ############ PAGE END-->

</div>
