

<div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
    <div class="app-header white bg b-b">
        <div class="navbar" data-pjax>
            <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
                <i class="ion-navicon"></i>
            </a>
            <div class="navbar-item pull-left h5" id="pageTitle">Candidats</div>

        </div>
    </div>

    <div class="app-body">

        <div class="avatar-upload" style="z-index: 1000;">

            <div class="avatar-preview" style="margin-top: -45px;margin-bottom: -125px;">
                <div id="imagePreview">
                    <img style="width: 192px;height: 182px;position: relative;border-radius: 100%;"
                         id="output"
                         class="img-fluid" src="/uploads/{{ candidat.photo }}" alt="">
                </div>
            </div>

        </div>

        <!-- ############ PAGE START-->
        <div class="row-col">
            <div class="col-lg b-r">

                <div class="padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box">
                                <div class="box-header">

                                    <a
                                            class="label success pull-right" href="{{ path('candidats_new') }}">Ajouter
                                        nouveau</a>
                                    <a class="label danger pull-right" href="{{ path('candidats') }}">Liste des
                                        candidats</a>
                                </div>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Nom et prenom</th>
                                        <td>{{ candidat.fistName }} {{ candidat.lastName }}</td>
                                    </tr>

                                    <tr>
                                        <th>Sexe</th>
                                        <td>{{ candidat.gender }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date du naissance</th>
                                        <td>{{ candidat.birthday ? candidat.birthday|date('Y-m-d') : '' }}</td>
                                    </tr>

                                    </tbody>
                                </table>


                                <a class="btn btn-primary  col-2" href="{{ path('candidats_edit', {'id': candidat.id}) }}">Mettre à jour</a>


                                {{ include('admins/candidats/_delete_form.html.twig') }}
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <!-- ############ PAGE END-->

    </div>
</div>
<!-- / -->
