{% extends 'base.html.twig' %}
{% block title %}E-VOTE{% endblock %}
{% block body %}
<nav class="bg-purple-700 shadow-sm">
    <div class=" mx-auto">
        <div class="sm:flex justify-around">
            <!-- Site-title  -->
            <a href="#" class="text-white text-3xl font-bold p-3">WEB ZONE</a>

            <!-- Menus  -->
            <ul
                    class="text-gray-400 sm:self-center text-xl border-t-2 sm:border-none"
            >
                <li class="sm:inline-block">
                    <a href="/accueil" class="p-3 hover:text-white">Accueil</a>
                </li>
                <li class="sm:inline-block">
                    <a href="/aide" class="p-3 hover:text-white">Aide</a>
                </li>
                <li class="sm:inline-block">
                    <a href="/eventUser" class="p-3 hover:text-white">Liste des Evenements</a>
                </li>

                <li class="sm:inline-block">
                    <a href="/eventResultat" class="p-3 hover:text-white">Resultat</a>
                </li>
                <li class="sm:inline-block">
                    <a href="/logout" class="p-3 hover:text-white">Deconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



        {% if currentRoute == "vote_accueil" %}
            {{ include('users/vote/accueil.html.twig') }}
        {% elseif currentRoute == "eventUser" %}
            {{ include('users/vote/eventUser.html.twig') }}
        {% elseif currentRoute == "eventUser_show" %}
            {{ include('users/vote/eventUser_show.html.twig') }}
        {% elseif currentRoute == "eventUser_candidat_show" %}
            {{ include('users/vote/eventUser_candidat_show.html.twig') }}
        {% elseif currentRoute == "eventResultat" %}
            {{ include('users/vote/eventResultat.html.twig') }}

        {% endif %}

{% endblock %}