{% extends 'base.html.twig' %}
{% block title %}E-VOTE{% endblock %}
{% block body %}
    <link href="{{ asset('assets/css/tailwind.min.css') }}" rel="stylesheet"/>
    <nav id="mainnav" class="bg-purple-700 shadow-sm" style="line-height: 23px;">
        <div class=" mx-auto">
            <div class="sm:flex justify-around">
                <!-- Site-title  -->
                <a href="#" class="text-white text-3xl font-bold p-3">E-VOTE</a>

                <!-- Menus  -->
                <ul class="text-gray-400 sm:self-center text-xl border-t-2 sm:border-none"
                        style="font-size: 16px;">
                    <li class="sm:inline-block">
                        <a href="/accueil"
                           class="p-3 hover:text-white  {% if currentRoute == "vote_accueil" %} active {% endif %}">Accueil</a>
                    </li>
                    <li class="sm:inline-block">
                        <a href="/aide"
                           class="p-3 hover:text-white {% if currentRoute == "eventUser_aide" %} active {% endif %}">Aide</a>
                    </li>

                    <li class="sm:inline-block">
                        <a href="/note"
                           class="p-3 hover:text-white {% if currentRoute == "eventUser_note" %} active {% endif %}">Note
                            d'information</a>
                    </li>


                    <li class="sm:inline-block menuItem"><a href="/eventUser"
                                                            class="p-3 hover:text-white {% if currentRoute == "eventUser" or   currentRoute == "eventUser_coming" or   currentRoute == "eventUser_progress" or   currentRoute == "eventUser_finished" %} active {% endif %}">Liste
                            des
                            Evenements</a>
                        <svg style="margin-left: auto; margin-right: auto; font-size: 20px;" width="1em" height="1em"
                             viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"/>
                        </svg>

                        <ul class="subMenu">
                            <li class="subMenuItem menuItem {% if currentRoute == "eventUser_coming" %} active {% endif %}">
                                <a href="/eventUser/coming" class="linkDecoration ">Prochainement</a>
                            </li>
                            <li class="subMenuItem menuItem {% if currentRoute == "eventUser_progress" %} active {% endif %}">
                                <a href="/eventUser/progress" class="linkDecoration">En
                                    cours</a></li>
                            <li class="subMenuItem menuItem {% if currentRoute == "eventUser_finished" %} active {% endif %}">
                                <a href="/eventUser/finished" class="linkDecoration ">Terminée</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sm:inline-block">
                        <a href="/eventUser/voter"
                           class="p-3 hover:text-white {% if currentRoute == "eventUser_vo" %} active {% endif %}">Voter</a>

                    </li>
                    <li class="sm:inline-block">
                        <a href="/eventResultat"
                           class="p-3 hover:text-white {% if currentRoute == "eventResultat" %} active {% endif %}">Resultat</a>

                    </li>

                    <li class="sm:inline-block menuItem"><a href="/profile"
                                                            class="p-3 hover:text-white {% if currentRoute == "eventUser" or   currentRoute == "eventUser_coming" or   currentRoute == "eventUser_progress" or   currentRoute == "eventUser_finished" %} active {% endif %}">
                            <img style="width: 48px;height: 48px" class="img-user" src="/uploads/{{ userPhoto }}"></a>
                        <svg style="margin-left: auto; margin-right: auto; font-size: 20px; color: #14213d;" width="1em"
                             height="1em"
                             viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"/>
                        </svg>

                        <ul style="right: 8%" class="subMenu">
                            <li class="subMenuItem menuItem ">

                                <a class="linkDecoration "
                                   href="{{ path('eventUser_setting', {'id': userId}) }}">Parametere</a>
                            </li>

                            <li class="subMenuItem menuItem  ">
                                <a href="/logout" class="linkDecoration ">Deconnexion</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="vote-height">
        {% if currentRoute == "vote_accueil" %}
            {{ include('users/vote/accueil.html.twig') }}
        {% elseif currentRoute == "eventUser" %}
            {{ include('users/vote/eventUser.html.twig') }}
        {% elseif currentRoute == "eventUser_show" %}
            {{ include('users/vote/eventUser_show.html.twig') }}
        {% elseif currentRoute == "eventUser_candidat_show" %}
            {{ include('users/vote/eventUser_candidat_show.html.twig') }}
        {% elseif currentRoute == "eventResultat" %}
            {{ include('users/vote/eventResultat.html.twig') }}
        {% elseif currentRoute == "eventUser_coming" %}
            {{ include('users/vote/eventUser_coming.html.twig') }}
        {% elseif currentRoute == "eventUser_progress" %}
            {{ include('users/vote/eventUser_progress.html.twig') }}
        {% elseif currentRoute == "eventUser_finished" %}
            {{ include('users/vote/eventUser_finished.html.twig') }}
        {% elseif currentRoute == "eventUser_note" %}
            {{ include('users/vote/eventUser_note.html.twig') }}
        {% elseif currentRoute == "eventUser_aide" %}
            {{ include('users/vote/eventUser_aide.html.twig') }}
        {% elseif currentRoute == "eventUser_setting" %}
            {{ include('users/vote/eventUser_setting.html.twig') }}
        {% elseif currentRoute == "eventUser_setting" %}
            {{ include('users/vote/eventUser_setting.html.twig') }}
        {% elseif currentRoute == "eventUser_vote" %}
            {{ include('users/vote/eventUser_vote.html.twig') }}
        {% elseif currentRoute == "eventUser_voter" %}
            {{ include('users/vote/eventUser_voter.html.twig') }}
        {% elseif currentRoute == "eventUser_vo" %}
            {{ include('users/vote/eventUser_vo.html.twig') }}
        {% elseif currentRoute == "eventUser_result" %}
            {{ include('users/vote/eventUser_result.html.twig') }}

        {% endif %}
    </div>
    <!-- Footer -->
    <footer style="background: #0a4e7e !important;" class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            E-vote | PFA - EPI Sousse
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
{% endblock %}