<div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
    <div class="app-header white bg b-b">
        <div class="navbar" data-pjax>
            <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
                <i class="ion-navicon"></i>
            </a>
            <div class="navbar-item pull-left h5" id="pageTitle">Electeurs</div>

        </div>
    </div>

    <div class="app-body">

        <div class="avatar-upload" style="z-index: 1000;">

            <div class="avatar-preview"
                 style="border-color: #2196f3 !important;  margin-top: -45px;margin-bottom: -125px;">
                <div id="imagePreview">
                    <img style="width: 192px;height: 186px;position: relative;border-radius: 100%;"
                         id="output"
                         class="img-fluid" src="/uploads/{{ elector.photo }}" alt="">
                </div>
            </div>

        </div>

        <!-- ############ PAGE START-->
        <div class="row-col">
            <div class="col-lg b-r">

                <div class="padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box" style="border-top: #2196f3 solid;">
                                <div class="box-header">

                                    <a
                                            class="label primary pull-right" href="{{ path('elector_new') }}">Ajouter
                                        nouveau</a>

                                        <a style="    margin-right: 10px;" class="label success pull-right "
                                           href="{{ path('elector_edit', {'id': elector.id}) }}">Modifier</a>

                                    <a class="label primary pull-left" href="{{ path('elector') }}">Liste des
                                        electeurs</a>
                                </div>
                                <div style="    margin-top: 50px;" class="row">

                                    <table class="col-2 table" style="    margin-left: 41.66666667%;">
                                        <tbody>
                                        <tr>
                                            <th>Nom et prenom</th>
                                            <td>{{ elector.firstName }} {{ elector.lastName }}</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{ elector.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>Telephone</th>
                                            <td>{{ elector.phone }}}</td>
                                        </tr>
                                        <tr>
                                            <th>Sexe</th>
                                            <td>{{ elector.gender }}}</td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>

                                        {{ include('admins/elector/_delete_form.html.twig') }}

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <!-- ############ PAGE END-->

    </div>
</div>
<!-- / -->
