

    <div class="app-body">

        <div class="avatar-upload" style="z-index: 1000;">

            <div class="avatar-preview"
                 style="border-color: #2196f3 !important;  margin-top: -45px;margin-bottom: -125px;">
                <div id="imagePreview">
                    <img style="width: 192px;height: 186px;position: relative;border-radius: 100%;"
                         id="output"
                         class="img-fluid" src="/uploads/{{ elector.photo }}" alt="">
                </div>
            </div>

        </div>

        <!-- ############ PAGE START-->
        <div class="row-col">
            <div class="col-lg b-r">

                <div class="padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box" style="border-top: #2196f3 solid;">
                                <div class="box-header">

                                    <a
                                            class="label primary pull-right" href="{{ path('elector_new') }}">Ajouter
                                        nouveau</a>

                                        <a style="    margin-right: 10px;" class="label success pull-right "
                                           href="{{ path('elector_edit', {'id': elector.id}) }}">Modifier</a>

                                    <a class="label primary pull-left" href="{{ path('elector') }}">Liste des
                                        electeurs</a>
                                </div>
                                <div style="    margin-top: 50px;" class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-4 mb-3">
                                        <label class="label-form">Nom et prenom :</label>
                                        <p style="display: inline;">{{ elector.firstName }} {{ elector.lastName }}</p>

                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="label-form">Date du naissance :</label>
                                        <p style="display: inline;">{{ elector.birth ? elector.birth|date('Y-m-d') : '' }}</p>

                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-4 mb-3">
                                        <label class="label-form">Email :</label>
                                        <p style="display: inline;">{{ elector.email }}</p>

                                    </div>


                                    <div class="col-md-4 mb-3">
                                        <label class="label-form">Sexe :</label>
                                        <p style="display: inline;">{% if elector.gender == 0 %} Homme {% else %} Femme {% endif %}</p>

                                    </div>



                                </div>
                                        {{ include('admins/elector/_delete_form.html.twig') }}

                            </div>
                            <div class="box" style="border-top: #2196f3 solid;">

                                <div  class="row">


                                    <table class="table table-striped table-bordered" id="example" style="width: 100% !important;">
                                        <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Nom de l'evenement
                                            </th>
                                            <th>
                                                date du debut
                                            </th>
                                            <th>
                                                date du fin
                                            </th>
                                            <th>
                                                durée (Jours)
                                            </th>
                                            <th class="pull-right">
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for event in events %}
                                            <tr>
                                                <td>
                                                    <img style="width: 50px" src="/uploads/{{ event.photo }}" alt="">
                                                </td>
                                                <td>
                                                    {{ event.title }}
                                                </td>
                                                <td>
                                                    {{ event.dateStart ? event.dateStart|date('Y-m-d') : '' }}
                                                </td>
                                                <td>
                                                    {{ event.dateEnd ? event.dateEnd|date('Y-m-d') : '' }}
                                                </td>
                                                <td>
                                                    {{ event.duration }}
                                                </td>
                                                <td class="pull-right">
                                                    {% if event.status == 0 %}

                                                        {{ include('admins/event/updateInIndex/_start_form.html.twig') }}

                                                        {{ include('admins/event/updateInIndex/_delete_form.html.twig') }}

                                                    {% elseif event.status == 1 %}

                                                        {{ include('admins/event/updateInIndex/_stop_form.html.twig') }}

                                                        {{ include('admins/event/updateInIndex/_pause_form.html.twig') }}

                                                    {% elseif event.status == 2 %}

                                                        {{ include('admins/event/updateInIndex/_delete_form.html.twig') }}

                                                    {% endif %}

                                                    <a class="label danger "
                                                       href="{{ path('event_show', {'id': event.id}) }}">Montrer</a>
                                                    {% if event.status == 0 %}
                                                        <a class="label success "
                                                           href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                                                    {% endif %}

                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="8">
                                                    no records found
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                {{ include('admins/elector/_delete_form.html.twig') }}

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <!-- ############ PAGE END-->


</div>
<!-- / -->
